<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Vehicle Tracker</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="left">
          <a href="/" style="color: white;"><h2><b>Vehicle Tracker</b></h2></a>
          <p><i>Keeps you on the road</i></p>
        </div>
        <div class="right">
          <a href="/#info">Info</a>
            <a href="/map">Map</a>
            <a href="/list">List</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
      </div>
      <div class="content">
        <h1>Units</h1>
        <div class="grid-list-container">
          {{#each data}}
            <div class="grid-list-item-{{this.status}}">

                <h2>Unit {{this.device_id}} - <i>{{this.status}} </i></h2>
                <u><h5>Location:</h5></u>
                <p>
                Latitude: {{this.latitude}}<br>
                Longitude: {{this.longitude}}<br>
                <u><h5>Sensor values</u></h2>
                Temperature: {{this.temp}}
                </p>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="footer">
        <p>Created by Kimmo Raappana, Niina Harja and Riku Kaipainen. 2018</p>
      </div>
    </div>
  </body>
</html>
